<h2>Kullanıcı Girişi</h2>

<form method="post" action="/Login/Index">
    

    <label for="username"> Kullanıcı Adı</label>
    <input type="text" id="username" name="username" />

    <br />
    <br />

    <label for="password"> Kullanıcı Şifresi</label>
    <input type="text" id="password" name="password" />

    <button type="submit">Kaydet</button>

</form>



    @ViewData["message"]
